<div id="wrapper">

<form  novalidate class="simple-from">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="guardHP.html">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="#">Change Password</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
        <div class="row">


        <!--First column-->
        <div> <h1>Edit the Guard details</h1></div>


        <div class="col-md-4">

            <img src="https://s32.postimg.org/bubza536t/image.jpg" width="180" height="200" />
            <i class="fa fa-edit prefix"></i>
         </div>

        <div class="col-md-4">
            <div class="md-form">

                <i class="fa fa-user prefix"></i>
                <input type="text" id="form41" ng-model="guardetails.Fullname" class="form-control" required>

                <label for="form41" class="">Fullname</label>
            </div>
        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">

                <input type="text" id="form51" ng-model="guardetails.Fraternityname" class="form-control" required>
                <label for="form51" class="">Fraternityname</label>
            </div>
        </div>

        <!--Third column-->
        <div class="col-md-4">
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
                <input type="email" id="form61" ng-model="guardetails.Email" class="form-control" required>
                <label for="form61" class="">Email</label>
            </div>
        </div>

        <div>
          <div class="col-md-4">
              <div class="md-form">
                  <i class="fa fa-phone prefix " ></i>
                  <input type="number" id="form41" ng-model="guardetails.Phonenumber" class="form-control" required>
                  <label for="form41" class="">Phone number</label>
              </div>
          </div>
         <a href="/Guardreturn" class="btn btn-warning" onclick="update(guardetails)">Save Changes</a>
  </div>



      </div>
      <!--/.first row-->

      <!--    second row-->
      <div class="row">

        <!--First column-->

<div> </div>


</form>
      <pre>guardetails = {{guardetails | json}}</pre>
        <pre>master = {{master | json}}</pre>

      </div>
